/* CORE STYLES */

/* * {
    border: 1px solid blue;
} */

#root {
    /* Declare variables */
    --fontSans: 'Montserrat', sans-serif;
    --fontCursive: 'Sarina', cursive;
    --fontMono: 'VT323', monospace;
    /* Content */
    font-family: var(--fontSans);
    /* Display and Grid */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5vh min-content 1fr 5vh;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "navigation" "header" "content" "footer";
    min-height: 100vh;
}

#menu {
    grid-area: navigation;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 310px;
    transition: all 0.33s ease;
}

#menu:hover {
    transform: translate(150px);
    background-color: red;
}

nav ul {
    list-style-type: none;
    display: flex;
    position: relative;
    padding-inline-start: 0px;
    justify-content: space-between;
    flex-direction: column;
}

nav ul>li {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 5px 5px;
}

nav i {
    position: absolute;
    left: 310px;
    top: 10px;
    font-size: 2rem;
    transition: all .33s ease;
}

nav i:hover {
    cursor: pointer;
}

header {
    grid-area: header;
    background-color: green;
    font-family: var(--fontCursive);
}

section#content {
    background-color: blue;
    grid-area: content;
}

footer {
    background-color: purple;
    grid-area: footer;
}

/* MEDIA QUERIES */

/* Tablet Portrait*/

@media (min-width: 600px) {
    #root {
        /* grid-template-columns: auto auto;
        grid-template-rows: min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
            "navigation" "header"
            "content" "content"
            "footer" "footer"; */
    }
}

/* Tablet Landscape */

@media (min-width: 900px) {
    #root {
        /* grid-template-columns: auto auto auto;
        grid-template-rows: min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
            "navigation" "header" "header"
            "content" "content" "content"
            "footer" "footer" "footer"; */
    }
}

/* Desktop */

@media (min-width: 1200px) {
    #root {
        /* grid-template-columns: auto auto auto auto;
        grid-template-rows: min-content min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: "navigation" "header" "content" "footer"; */
    }
}

/* Desktop Large */

@media (min-width: 1800px) {
    #root {
        /* grid-template-columns: auto auto auto auto auto;
        grid-template-rows: min-content min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: "navigation" "header" "content" "footer"; */
    }
}