/* CORE STYLES */

/* * {
    border: 1px solid blue;
} */

#root {
    /* Declare variables */
    --fontSans: 'Montserrat', sans-serif;
    --fontCursive: 'Sarina', cursive;
    --fontMono: 'VT323', monospace;
    --colorIndigo: #16425B;
    --colorSlate: #305252;
    --colorLtSlate: #77878B;
    --colorOnyx: #373e40;
    /* Content */
    font-family: var(--fontSans);
    /* Display and Grid */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5vh;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "content" "footer";
    min-height: 100vh;
}

/* Navigation */

nav#menu {
    z-index: 1;
}

#menu {
    grid-area: navigation;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 300px;
    transition: all 0.33s ease;
}

#menu:hover {
    transform: translate(150px);
    background-color: var(--colorLtSlate);
}

nav ul {
    list-style-type: none;
    display: flex;
    position: relative;
    padding-inline-start: 0px;
    justify-content: space-between;
    flex-direction: column;
}

nav ul>li {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 5px 5px;
    transition: all .33s ease;
}

nav ul>li:hover {
    font-weight: bold;
}

nav i {
    position: absolute;
    left: 300px;
    font-size: 2rem;
    transition: all .33s ease;
    padding: 10px;
    transition: background-color .33 ease;
    background-color: var(--colorLtSlate);
    border-radius: 0 25% 25% 0;
}

nav i:hover {
    cursor: pointer;
    background-color: var(--colorSlate);
}

/* Header */

header {
    grid-area: header;
    background-color: var(--colorOnyx);
    font-family: var(--fontCursive);
    padding: 0 0 0 55px;
    display: flex;
    flex-flow: row;
}

header h1 {
    display: inline;
}

header img {
    display: block;
}

/* Content - Main */

section#content {
    background-color: whitesmoke;
    grid-area: content;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-flow: wrap;
}

#content>p {
    display: block;
    width: 100%;
}

.navOffset {
    padding: 0 0 0 10vw;
}

/* Content - Home */

#home {
    display: block;
    width: 85%;
}

#home .card {
    display: inline-flex;
    margin: 5px 5px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
}

#home .card i {
    padding: 0px 5px;
}

#home .card:hover {
    background: whitesmoke;
    font-weight: bold;
}

/* Content - About */

#bg1, #bg2, #bg3, #bg4 {
    filter: blur(2px);
    height: 200px;
    background-size: cover;
    background-position: center;
    width: 100%;
    transition: all .33s ease;
}

#bg1:hover, #bg2:hover, #bg3:hover, #bg4:hover {
    filter: blur(0px);
    height: 250px;
}

#bg1 {
    background-image: url('https://images.unsplash.com/photo-1502570149819-b2260483d302?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}

#bg2 {
    background-image: url('https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=944&q=80');
}

#bg3 {
    background-image: url('https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}

#bg4 {
    background-image: url('https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

/* Content - Calendar */

div#eventList {
    margin: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background: var(--colorLtSlate);
    border-radius: 10px;
    box-shadow: 1px 1px var(--colorSlate);
    cursor: pointer;
    border: solid 1px var(--colorLtSlate);
    transition: all .33s ease;
    padding: 5px 5px;
    margin: 5px 5px;
}

button:hover {
    background: var(--colorSlate);
    box-shadow: 1px 1px var(--colorIndigo);
    border: solid 1px var(--colorSlate);
}

.id {
    display: none;
}

.name {
    font-weight: bold;
}

.card {
    display: inline-block;
    background: var(--colorLtSlate);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    filter: opacity();
    transition: all .33s linear;
    box-shadow: 3px 3px var(--colorSlate);
    width: 100%;
}

.card:hover {
    background: var(--colorSlate);
    box-shadow: 5px 5px var(--colorLtSlate);
}

/* Footer */

footer {
    background-color: var(--colorIndigo);
    grid-area: footer;
}

footer p {
    padding-top: 10px;
    margin: 0px;
}

/* MEDIA QUERIES */

/* Tablet Portrait*/

@media (min-width: 600px) {
    #root {
        /* grid-template-columns: auto auto;
        grid-template-rows: min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
            "navigation" "header"
            "content" "content"
            "footer" "footer"; */
    }
}

/* Tablet Landscape */

@media (min-width: 900px) {
    #root {
        /* grid-template-columns: auto auto auto;
        grid-template-rows: min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
            "navigation" "header" "header"
            "content" "content" "content"
            "footer" "footer" "footer"; */
    }
}

/* Desktop */

@media (min-width: 1200px) {
    #root {
        /* grid-template-columns: auto auto auto auto;
        grid-template-rows: min-content min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: "navigation" "header" "content" "footer"; */
    }
}

/* Desktop Large */

@media (min-width: 1800px) {
    #root {
        /* grid-template-columns: auto auto auto auto auto;
        grid-template-rows: min-content min-content auto min-content;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: "navigation" "header" "content" "footer"; */
    }
}